- content_for :heading do
  = @exercise.name + ' - ' + t('exercise_steps.list')
- breadcrumb :exercise_steps, @exercise

.row
  .col-sm-12
    .box.box-primary
      .box-header
        %h2.box-title= t('exercise_steps.list')
      .box-body
        .row
          .col-sm-12
            - if @exercise_steps.empty?
              = t('exercise_steps.empty')
            - else
              %table.table
                %thead
                  %tr
                    %th.col-sm-2= t('dictionary.name')
                    %th.col-sm-5= t('dictionary.description')
                    %th.col-sm-2= t('exercise_image.exercise_step_images_right')
                    %th.col-sm-2= t('exercise_image.exercise_step_images_wrong')
                    %th.col-sm-1
                %tbody#sortable
                  - @exercise_steps.each do |exercise_step|
                    - if can? :edit_steps, exercise_step.exercise
                      %tr.item{:data => {'item-id' => exercise_step.id},:style=>'cursor:pointer;'}
                        %td
                          %span.fa.fa-arrows
                          %strong= exercise_step.name
                        %td= sanitize exercise_step.description
                        %td
                          %ul
                          - exercise_step.exercise_images.right.each do |img|
                            %li{style: 'display:inline-block'}
                              = link_to image_tag(img.image.small), img.image.url
                        %td
                          %ul
                          - exercise_step.exercise_images.wrong.each do |img|
                            %li{style: 'display:inline-block'}
                              = link_to image_tag(img.image.small), img.image.url
                        %td
                          = link_to edit_exercise_step_path(:exercise_step_id => exercise_step.id), class: 'btn btn-warning btn-xs' do
                            %i.fa.fa-remove
                            = t('dictionary.edit')
                          = link_to exercise_steps_path(:exercise_step_id => exercise_step.id), class: 'btn btn-danger btn-xs', :method => :delete, :data => { :confirm => 'Are you sure?' } do
                            %i.fa.fa-remove
                            = t('dictionary.delete')
                    - else
                      %tr.item
                        %td
                          %strong= exercise_step.name
                        %td
                          = sanitize exercise_step.description

- if can? :add_steps, @exercise or can? :edit_steps, @exercise
  .row
    .col-sm-12
      .box.box-primary
        .box-header
          - if ['index','new', 'create'].include? params[:action] and can? :add_steps, @exercise
            %h2.box-title= t('exercise_steps.add_new')
          - elsif ['edit','update'].include? params[:action] and can? :edit_steps, @exercise
            %h2.box-title= t('exercise_steps.edit')
        .box-body
          .row
            .col-sm-12
              = render 'form'

:coffeescript
  # courtesy of http://benw.me/posts/sortable-bootstrap-tables/
  rows_sorting = ->
    table_width = $('#sortable').width()
    cells = $('#sortable').find('tr')[0].cells.length
    desired_width = (table_width / cells) + 'px'
    $('.table td').css('width', desired_width)
    $('.table td').css('height', 20)
    $('#sortable').sortable(
      axis: 'y'
      items: '.item'
      cursor: 'move'

      sort: (e, ui) ->
        ui.item.addClass('exercise-steps-sortable-active')
      stop: (e, ui) ->
        ui.item.removeClass('exercise-steps-sortable-active')
        ui.item.children('td').effect('highlight', {color: '#3C8DBC'}, 1000)
      update: (e, ui) ->
        item_id = ui.item.data('item-id')
        position = ui.item.index()
        $.ajax(
          type: 'POST'
          url: '#{url_for(update_row_order_exercise_steps_url)}'
          dataType: 'json'
          data: { exercise_step: {exercise_step_id: item_id, row_order_position: position } }
        )
    )
  do f = ->
    rows_sorting()