= simple_form_for(@exercise_image) do |f|
  = f.error_notification

  .form-inputs
    = f.input :path
    = f.file_field :image
    = f.input :correctness
    = f.association :exercise_phase
    = f.association :exercise

  .form-actions
    = f.button :submit
