.row
  .col-sm-12
    .box.box-primary
      .box-header
        %h2.box-title= t('exercise_bundle.index.exercise_bundles_list')
      .box-body
        %table.table#exercise_bundles
          %tbody
            %tr
              %th= t('dictionary.name')
              %th= t('dictionary.description')
              %th= t('dictionary.accessibility')
              %th
              %th

          - @exercise_bundles.each do |exercise_bundle|
            %tr
              %td= link_to exercise_bundle.name, exercise_bundle
              %td= dash_or_value(exercise_bundle,:description)
              %td
                %span.label.label-info= t(exercise_bundle.accessibility)
              - if exercise_bundle.user == current_user || current_user.is_admin?
                %td
                  = edit_button_bundle(exercise_bundle,t('dictionary.edit'))
                %td= link_to t('dictionary.delete'), exercise_bundle, class: 'btn btn-danger', :method => :delete, :data => { :confirm => 'Are you sure?' }
              - else
                %td= link_to t('dictionary.edit'), '#', class: 'disabled btn btn-warning'
                %td= link_to t('dictionary.delete'), '#', class: 'disabled btn btn-danger'

= render 'exercise_bundles/warning'