- content_for :heading do
  = @exercise_bundle.name.to_s + ' - ' + t('exercise_bundle.show.bundle_detail')
- breadcrumb :exercise_bundle_detail, @exercise_bundle

#action-box
  = render 'exercise_bundles/warning'
  - if can? :edit, @exercise_bundle
    - edit_link_text = raw("<i class='fa fa-pencil'></i>")+ " " + t('exercise_bundle.show.edit_bundle')
    = edit_button_bundle(@exercise_bundle, edit_link_text)
    = link_to @exercise_bundle, class: 'btn btn-danger', :method => :delete, :data => { :confirm => 'Are you sure?' } do
      %i.fa.fa-times
      = t('exercise_bundle.show.delete_bundle')

.row
  .col-sm-4
    .box.box-primary
      .box-header
        %h2.box-title= t('exercise_bundle.show.details_heading')
      .box-body
        %table.table
          %tbody
            %tr
              %th= t('dictionary.accessibility')
              %td
                %span.label.label-info= t(@exercise_bundle.accessibility)
            %tr
              %th= t('dictionary.owner')
              %td= dash_or_object(@exercise_bundle.user).to_s
            %tr
              %th= t('exercise_bundle.show.contains_exercises_nr')
              %td!= ApplicationHelper.labelize_realizations @exercise_bundle.exercises.count
  .col-sm-8
    .box.box-primary
      .box-header
        %h2.box-title
          = t('dictionary.description')
      .box-body
        - unless @exercise_bundle.description.blank?
          = sanitize @exercise_bundle.description
        - else
          = t('exercise_bundle.show.description_is_empty')
        - unless @exercise_bundle.description_long.blank?
          %br
          =raw "(#{link_to t('exercise.show.show_detailed_description'), '#', {'data-toggle' => 'modal', 'data-target' => '#long_description'}})"
          #long_description.modal.fade
            .modal-dialog
              .modal-content
                .modal-header
                  %button.close{'aria-hiden' => 'true', 'data-dismiss' => 'modal', :type => 'button'} &times;
                  %h3.modal-title= t('exercise.show.detailed_description')
                .modal-body
                  .modal-body-content
                    = sanitize @exercise_bundle.description_long
                .modal-footer

.row
  .col-sm-12
    .box.box-primary
      .box-header
        %h2.box-title= t('exercise_bundle.show.exercises_contained')
      .box-body
        - if can? :edit, @exercise_bundle
          = link_to edit_exercises_exercise_bundle_path(@exercise_bundle), class: 'btn btn-warning' do
            %i.fa.fa-pencil
            = t('exercise_bundle.show.edit_exercises')
        .row.margin
        - if @exercise_bundle.exercises.empty?
          = t('exercise_bundle.show.contains_no_exercises')
        - else
          %table.table#exercises
            %tbody
              %tr
                %th= t('dictionary.name')
                %th= t('dictionary.description')
                %th= t('dictionary.accessibility')
                %th= t('exercise.show.exercise_type')

              - @exercise_bundle.exercises.each do |exercise|
                %tr
                  %td= link_to exercise.name+((exercise.version>1)?" ("+exercise.version.to_s+")":""), exercise
                  %td= exercise.description
                  %td
                    %span.label.label-info= t(exercise.accessibility)
                  %td= exercise.type
