- time_duration_height = 120  #realization.time_duration/60*20
- rest_after_height = 80 #realization.rest_after/60*20

.box.box-body.realization-duration{style: 'min-height:'+time_duration_height.to_s+'px;'}
  - unless realization.exercise.exercise_image.blank?
    = image_tag realization.exercise.exercise_image.image.small, class: 'img-rounded no-padding'
  %span= link_to realization.exercise, realization.exercise
  %p.no-margin
    %span{:style=>'white-space: nowrap;'}
      - time_formatted(realization.from,realization.until)
  %p.no-margin
    = ApplicationHelper.distance_of_time_in_words_difference(realization.duration)
  -####### SETS COUNT
  - sets_count = realization.exercise_set_realizations.count
  - if sets_count > 0
    .label.label-success
      = sets_count.to_s
      - if sets_count==1
        = " " + t('exercise_realizations.dictionary.set')
      - else
        = " " + t('exercise_realizations.dictionary.sets')
  -####### SETUPS COUNT
  - setups_count = realization.exercise_realization_setups.count
  - if setups_count > 0
    .label.label-primary
      = setups_count.to_s
      - if setups_count==1
        = " " + t('exercise_realizations.dictionary.setup')
      - else
        = " " + t('exercise_realizations.dictionary.setups')
  .btns-block
    = link_to t('dictionary.edit'), edit_training_lesson_realization_exercise_realization_path(:id => realization.id), :remote => true, class: 'btn btn-xs btn-warning btn-edit'
    = link_to t('dictionary.delete'), training_lesson_realization_exercise_realization_path(:id => realization.id), class: 'btn btn-xs btn-danger btn-destroy', :method => :delete, :remote => true, :data => { :confirm => I18n.t('dictionary.are_you_sure') }

- unless realization.rest_after.blank? || realization.rest_after==0
  .box.box-body.realization-rest{style: 'min-height:'+rest_after_height.to_s+'px;'}
    = t('exercise_realizations.dictionary.rest_after')+' ('+ApplicationHelper.distance_of_time_in_words_difference(realization.rest_after)+')'
    %br
    - time_formatted(realization.until,realization.until_with_rest_time)

:javascript
  var wrapper = $('.realization-duration');
  wrapper.find('.btn-edit').unbind().click(function(){
    showSettingsPane();
  });
  wrapper.find('.btn-destroy')
    .bind('ajax:success',function(){
      $(this).closest('.realization').fadeOut('slow', function(){$(this).remove();});
    });