= simple_form_for(exercise_realization, :url => {controller: 'exercise_realizations', action: 'update'}, remote: true, format: :json, method: :put) do |f|
  .form-errors
    = f.error_notification
  .form-inputs
    - unless exercise_realization.exercise.has_sets?
      .form-group
        .col-sm-12.no-padding-sides
          %strong=t('exercise_realizations.form.time_duration')
        .col-sm-4.no-padding-sides
          = f.input :duration_partial_hours, :as => :integer, label: t('exercise_realizations.form.hours'), input_html: {min: '0', max: '59'}
        .col-sm-4.no-padding-sides
          = f.input :duration_partial_minutes, :as => :integer, label: t('exercise_realizations.form.minutes'), input_html: {min: '0', max: '59'}
        .col-sm-4.no-padding-sides
          = f.input :duration_partial_seconds, :as => :integer, label: t('exercise_realizations.form.seconds'), input_html: {min: '0', max: '59'}
    .form-group
      .col-sm-12.no-padding-sides
        %strong=t('exercise_realizations.form.rest_after')
      .col-sm-4.no-padding-sides
        = f.input :rest_partial_minutes, :as => :integer, label: t('exercise_realizations.form.minutes'), input_html: {min: '0', max: '59'}
      .col-sm-4.no-padding-sides
        = f.input :rest_partial_seconds, :as => :integer, label: t('exercise_realizations.form.seconds'), input_html: {min: '0', max: '59'}
    .col-sm-12.no-padding-sides
      = f.input :note, as: :text, input_html: { class: 'textarea', rows: 5 }
  .form-actions.col-sm-12.margin.text-right
    = link_to t('dictionary.cancel'), '#', class: 'btn btn-default btn-cancel'
    = f.button :submit, t('exercise_realizations.form.save_realization'), class: 'btn btn-primary'
%br{:style=>'clear:both;'}

:javascript
  $('abbr[title=required]').hide(); // temporary fix - required is shown everywhere by error
  $(".btn-cancel").click(function(){
    switchExercisesSettingsPanesVisibility();
  });
  $('form')
    .bind('ajax:success', function (evt,xhr,status){
      refreshRealizationsInPlan(getPlanIdForRealization(#{@exercise_realization.id}));
      switchExercisesSettingsPanesVisibility();
    })
    .bind("ajax:error", formErrorHandler());
