- content_for :heading do
  = "#{t('exercise_realizations.index.heading')}"
- breadcrumb :regular_training_lesson_realizations_plans, @training_lesson_realization
#action-box
  = link_to @training_lesson_realization, class: 'btn btn-primary' do
    %i.fa.fa-chevron-left
    = t('exercise_realizations.index.back_to_lesson_realization')

#left-pane-container.col-xs-6.col-sm-6.col-lg-4.no-padding
  #left-pane
    .box.box-primary
      .box-body
        #exercises
          %ul.nav.nav-tabs
            %li.active
              = link_to t('exercise.index.exercises'), '#exercises-list', {:data => {'toggle' => 'tab'}}
            %li
              = link_to t('favorite_plan.index.favorite_plans'), '#favorite-plans', {:data => {'toggle' => 'tab'}}
          .tab-content
            #exercises-list.tab-pane.fade.in.active
              = render partial: 'list_exercises', locals: {:exercises => @exercises, :filterrific => @filterrific}
            #favorite-plans.tab-pane.fade
        #settings
          %ul.nav.nav-tabs
            %li.active
              = link_to t('exercise_realizations.form.heading'), '#realization-settings', {:data => {'toggle' => 'tab'}}
            %li#realization-setups-tab-button
              = link_to t('exercise_realization_setups.form.heading'), '#realization-setups', {:data => {'toggle' => 'tab'}}
              -# clicking this triggers ajax load of edit partial
            %li#realization-sets-tab-button
              = link_to t('exercise_set_realization.form.heading'), '#realization-sets', {:data => {'toggle' => 'tab'}}
          .tab-content
            #realization-settings.tab-pane.fade.in.active
            #realization-setups.tab-pane.fade
            #realization-sets.tab-pane.fade
        %br{:style=>'clear:both;'}

.col-xs-6.col-sm-6.col-lg-8.no-padding
  #right-pane.box.box-success
    .box-body
      .owl-carousel-before.no-padding
        .owl-carousel-prev.fa.fa-arrow-left.fa-2x
      .owl-carousel#owl-carousel.no-padding
        - @training_lesson_realization.plans.each do |plan|
          .player-plan-wrapper
            .box
              %h4.box-title.text-center.no-padding
                -# avatar?
                = plan.user_partook
              .box-body.no-padding
                = render partial: 'list_small', locals: {:plan => plan}
      .owl-carousel-after.no-padding
        .owl-carousel-next.fa.fa-arrow-right.fa-2x
      %br{:style=>'clear:both;'}
%br{:style=>'clear:both;'}

= render partial: 'index.js.haml'