- form_action = (params[:action]=='new') ? 'create' : 'update'
- form_method = (params[:action]=='new') ? :post : :put

= simple_form_for(exercise_realization_setup, :url => {controller: 'exercise_realization_setups', action: form_action}, remote: true, format: :json, method: form_method) do |f|
  .form-errors
    = f.error_notification
  .form-inputs
    -# INFO
    - unit = exercise_realization_setup.exercise_setup.unit
    -# FORM
    - unit_type = unit.unit_type
    - if unit_type == :integer
      = f.input :numeric_value, as: :integer, placeholder: unit.to_s_complete
    - elsif unit_type == :decimal
      = f.input :numeric_value, as: :decimal, placeholder: unit.to_s_complete
    - else
      = f.input :string_value, as: :string, placeholder: unit.to_s_complete
    = f.input :note, as: :text, input_html: { class: 'textarea', rows: 4}
    - if form_action == 'create'
      = f.input :exercise_realization_id, as: :hidden, value: params[:exercise_realization_setup][:exercise_realization_id]
      = f.input :exercise_setup_code, as: :hidden, value: params[:exercise_realization_setup][:exercise_setup_code]
    -#- if form_action == 'update'
    -#  = f.input :id, as: :hidden, value: params[:id]

  .form-actions
    = link_to t('dictionary.cancel'), '#', class: 'btn btn-default btn-cancel'
    = f.button :submit, t('exercise_realization_setups.form.save'), class: 'btn btn-primary'

:javascript
  var realizationSetups = $("#realization-setups");
  realizationSetups.find('abbr[title=required]').hide(); // temporary fix - required is shown everywhere by error
  realizationSetups.find(".btn-cancel").click(function(){
    if ('#{form_action}'=='create'){
      addedRealizationSetup.fadeOut(1000).remove();
    }
    switchAvailableSetupsEditPanesVisibility();
  });
  realizationSetups.find('form')
    .bind('ajax:success', function (evt,xhr,status){
      // Refresh exercise realization setups list
      getExerciseRealizationSetups();
      // Hide form, show list
      switchAvailableSetupsEditPanesVisibility();
      // Refresh realizations list (number of setups)
      refreshRealizationsInPlan(getPlanIdForRealization($('#realization-settings').data('exercise-realization-id')));
    })
    .bind("ajax:error", formErrorHandler());
