- form_action = (action=='new') ? 'create' : 'update'
- form_method = (action=='new') ? :post : :put

= simple_form_for(exercise_set_realization, :url => {controller: 'exercise_set_realizations', action: form_action}, remote: true, format: :json, method: form_method, html: {id: exercise_set_realization.id}) do |f|
  .form-errors
  = f.error_notification
  .form-inputs
    .form-group
      .col-sm-12.no-padding-sides
        %strong=t('exercise_realizations.form.time_duration')
      .col-sm-4.no-padding-sides
        = f.input :duration_partial_minutes, :as => :integer, label: t('exercise_realizations.form.minutes'), input_html: {min: '0', max: '59'}
      .col-sm-4.no-padding-sides
        = f.input :duration_partial_seconds, :as => :integer, label: t('exercise_realizations.form.seconds'), input_html: {min: '0', max: '59'}
    .form-group
      .col-sm-12.no-padding-sides
        %strong=t('exercise_realizations.form.rest_after')
      .col-sm-4.no-padding-sides
        = f.input :rest_partial_minutes, :as => :integer, label: t('exercise_realizations.form.minutes'), input_html: {min: '0', max: '59'}
      .col-sm-4.no-padding-sides
        = f.input :rest_partial_seconds, :as => :integer, label: t('exercise_realizations.form.seconds'), input_html: {min: '0', max: '59'}
    .col-sm-12.no-padding-sides
      = f.input :note, as: :text, input_html: { class: 'textarea', rows: 5 }
  = f.input :exercise_realization_id, as: :hidden, value: params[:exercise_realization_id]
  .form-actions.col-sm-12.margin.text-right
    = link_to t('dictionary.cancel'), '#', class: 'btn btn-default btn-cancel'
    = f.button :submit, t('exercise_set_realization.form.save_set'), class: 'btn btn-primary'
%br{:style=>'clear:both;'}

:javascript
  $('abbr[title=required]').hide(); // temporary fix - required is shown everywhere by error
  $('.btn-cancel').click(function(){
    switchSetsEditPanesVisibility();
  });
  $('form')
    .bind('ajax:success', function (evt,xhr,status){
      getExerciseSetRealizations();
      refreshRealizationsInPlan(getPlanIdForRealization(#{@exercise_set_realization.exercise_realization.id}));
      switchSetsEditPanesVisibility();
    })
    .bind('ajax:error', function (evt, xhr, status, error) {
      var $form = $(this), errors, errorText;
      try {
        errors = $.parseJSON(xhr.responseText);
      } catch (err) {
        // If the responseText is not valid JSON (like if a 500 exception was thrown), populate errors with a generic error message.
        errors = {message: "#{t('exercise_realizations.form.please_reload_try_again')}"};
      }
      // Build an unordered list from the list of errors
      errorText = "#{t('dictionary.following_errors_occured_text_only')}<ul>";
      for (error in errors) {
        errorText += "<li>" + errors[error] + "</li> ";
      }
      errorText += "</ul>";
      // Insert error list into form
      $form.find('.form-errors').html(errorText);
    });
