.row
  .col-sm-12
    .well.well-sm
      = render_filterrific_spinner
      = page_entries_info @exercises
.row
  .col-sm-12
    .box.box-primary
      .box-header
        %h2.box-title= t('exercise.index.exercises_list')
      .box-body
        %table.table#exercises
          %tbody
            %tr
              %th= t('dictionary.name')
              %th= t('exercise.show.used')
              %th= t('dictionary.description')
              %th= t('dictionary.image')
              %th= t('dictionary.accessibility')
              %th= t('exercise.show.exercise_type')
              %th
              %th
            - exercises.each do |exercise|
              %tr
                %td= link_to exercise.name+((exercise.version>1)?" ("+exercise.version.to_s+")":""), exercise_path(exercise)
                %td
                  -#TODO link_to (exercise_measurement.exercise_realizations.count.to_s+"x"), exercise_realizations_path(exercise)
                  !=ApplicationHelper.labelize_realizations exercise.exercise_realizations.count
                %td= sanitize exercise.description
                %td
                  - unless exercise.exercise_image.blank?
                    = image_tag exercise.exercise_image.image.small
                %td
                  %span.label.label-info= t(exercise.accessibility)
                %td= exercise.type
                - if can? :edit, exercise
                  %td
                    = edit_button_exercise(exercise, t('dictionary.edit'))
                - if can? :destroy, exercise
                  %td
                    - if !exercise.is_in_use?
                      = link_to t('dictionary.delete'), exercise_path(exercise), class: 'btn btn-danger', :method => :delete, :data => { :confirm => 'Are you sure?' }
                    - else
                      = link_to t('dictionary.delete'), "#", class: 'disabled btn btn-danger'
      .box-footer
        = paginate @exercises
  = render 'exercises/warning'
