= simple_form_for(@exercise_setup) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, input_html: {maxlength:255}
    = f.input :description, input_html: {maxlength:255}
    - if @exercise_setup.exercise_realization_setups.empty?
      = f.input :required
    - if params[:action]=='edit'
      = f.association :exercise_setup_type, :selected=>@exercise_setup.exercise_setup_type.name.to_s
      = f.association :unit, :selected=>@exercise_setup.unit.name.to_s
    - else
      = f.association :exercise_setup_type, :label_method => :name, :value_method => :code
      = f.association :unit, :label_method => :name, :value_method => :code, include_blank:false

    = f.hidden_field :exercise_code, :value => params[:exercise_code]
    = f.hidden_field :exercise_version, :value => params[:exercise_version]


  .form-actions
    = f.button :submit, t('exercise_setup.new.add_setup'), class: 'btn btn-primary'