.row
  .col-sm-12
    .well.well-sm
      = render_filterrific_spinner
      = page_entries_info @exercise_setups

.row
  - exercise_setups.each do |exercise_setup|
    .col-sm-4
      .box
        .box-header
          %strong.box-title= exercise_setup.name
        .box-body
          %table.table
            %tbody
              %tr
                %th= t('exercise_setup.show.used')
                %td
                  -#TODO link_to (exercise_setup.exercise_realizations.count.to_s+"x"), exercise_realizations_path(exercise)
                  !=ApplicationHelper.labelize_realizations exercise_setup.exercise_realization_setups.count
              %tr
                %th= t('exercise.show.exercise_setups_required')
                %td!= ApplicationHelper.labelize_boolean exercise_setup.is_required?
              %tr
                %th= t('exercise.show.exercise_setups_unit_name')
                %td= exercise_setup.unit.name+" ["+exercise_setup.unit.abbreviation+"]"
              - if exercise_setup.exercise.has_sets?
                %tr
                  %th=t('dictionary.type')
                  - if exercise_setup.type=='ExerciseSetup'
                    %td= t('exercise_setup.simple_setup')
                  - elsif exercise_setup.type=='ExerciseSetSetup'
                    %td= t('exercise_setup.set_setup')
              - unless exercise_setup.exercise_setup_type.blank?
                %tr
                  %th= t('exercise_setup.dictionary.exercise_setup_type')
                  %td= dash_or_object(exercise_setup.exercise_setup_type)
              %tr
                %td{:colspan=>2}= sanitize exercise_setup.description
        .box-footer
          %div
          - if can? :edit, exercise_setup
            - if !exercise_setup.is_in_use?
              = link_to edit_exercise_setup_path(exercise_setup), class: 'btn btn-warning btn-xs' do
                %i.fa.fa-pencil
                = t('dictionary.edit')
            - else
              = link_to clone_exercise_setup_path(exercise_setup), class: 'btn btn-primary btn-xs' do
                %i.fa.fa-copy
                = t('exercise_setup.clone.button')
              = link_to '#', class: 'btn btn-warning btn-xs disabled' do
                %i.fa.fa-pencil
                = t('dictionary.edit')
            - if !exercise_setup.is_in_use?
              = link_to exercise_setup, class: 'btn btn-danger btn-xs', :method => :delete, :data => { :confirm => 'Are you sure?' } do
                %i.fa.fa-times
                = t('dictionary.delete')
            - else
              = link_to '#', class: 'btn btn-danger btn-xs disabled' do
                %i.fa.fa-times
                = t('dictionary.delete')
.text-center
  = paginate @exercise_setups, :param_name => :page_s